# .gitignore pour ignorer tous les fichiers images

# Images courantes
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Dossiers d'images
static/images/
media/

# Optionnel : ignorer tout fichier image dans n'importe quel dossier
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tiff
**/*.svg
**/*.webp

# Rapports de style Python
flake8-report.txt
autopep8-report.txt
