/* Centrer les titres h3 */
h3 {
	text-align: center;
}

/* Centrer le formulaire de suivi */
section form {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 1em;
}

/* Champ input avec placeholder personnalisé */
input[name="username"] {
	width: 60%;
    text-align: center;
	padding: 6px;
	border-radius: 6px;
	border: 1px solid #aaa;
	font-size: 1em;
}

input[name="username"]::placeholder {
	color: #bbb;
}


.abonnement-item form {
	border-left: 2px solid #000;
	margin-left: 16px;
	padding-left: 16px;
}

/* Listes abonnements et abonnés en mode table */
ul.abonnements, ul.abonnes {
	margin: auto;
	width: 80%;
}

.abonnement-item, .abonnes li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #000;
	padding: 8px 12px;
	margin-bottom: 8px;
	font-weight: bold;
	background: #fde4bebe;
	border-radius: 8px;
}

.abonnement-item form {
	margin: 0;
}

.form-inline {
	display: inline;
}

/* Bouton désabonner*/
.unfollow-button {
	background: none;
    border: none;
	color: #000000;
    font-size: large;
	padding: 8px;
}
.unfollow-button:hover, .unfollow-button:focus {
	color: #ffffff;
	text-decoration: underline;
    background: linear-gradient(130deg,#000000c2,#222222ad);
	border-radius: 25px;
}
