html, body{
    height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#f8edacb0, #fae46979, #ffbd6077);
    background-repeat: no-repeat;
    background-position: center;
}

.main-content {
    flex: 1;
}

footer {
    background: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.header {
    background: url('/static/images/ban_2.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 60px 60px;
    border: 1px solid rgb(138, 138, 138);
}

h1 {
    font-size: 40px;
    grid-column: 2;
    justify-self: center;
    margin: 0;
    color: #f1bb56e0;
    text-shadow: 8px 8px 16px #000000, 0px 0px 2px #000000;
}

.header nav {
    grid-column: 3;
    justify-self: end;
    display: flex;
    gap: 24px;
    align-items: center;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

.button, .button-radius, .file-button {
    background: #fdd398c4;
    padding: 8px 16px;
    border: 2px solid black;
}

.button-radius, .file-button {
    border-radius: 10px;
}

.nav{
    border: #000000 2px solid;
    background: radial-gradient(#ffd382d0,#c2a853d2) ;
    padding: 8px;
    border-radius: 25px;
}

.nav:hover, .button-radius:hover{
    border: #ffa32be8 solid 2px;
    background: linear-gradient(130deg,#000000c2,#222222ad);
    color: bisque;

}

