<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LitRevu{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main class="main-content">
        <section class="header">
            <h1>LitReview</h1>
            {% if user.is_authenticated %}
            <nav>
                <a href="{% url 'feed' %}" class="nav">Feed</a>
                <a href="{% url 'posts' %}" class="nav">Posts</a>
                <a href="{% url 'follow_users' %}" class="nav">Abonnements</a>
                <a href="{% url 'logout' %}" class="nav">Se déconnecter</a>
            </nav>
            {% endif %}
        </section>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
